*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links-nav-login li{
    display: inline;
}

.links-nav-login a{
    font-size: 1.3rem;
    text-decoration: none;
    color: black;
    margin-left: 0.5rem;
    font-weight: bold;
}