*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.conteiner-main{
    margin-top: 3rem;
    height: 90vh;
    width: 90vw;
   border-radius: 5rem;
   background-color: #FAF9F6;
   box-shadow: 1rem 1rem 3rem rgba(163, 93, 31,0.3);
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem;
}

.links-nav-login li{
    display: inline;
}

.links-nav-login a{
    font-size: 1.3rem;
    text-decoration: none;
    color: #BC6C25;
    margin-left: 0.5rem;
    font-weight: bold;
}

.dark-mode button{
    background-color: #DDA15E;
    color: #FEFAE0;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
}

main{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 80vh;
    padding: 3rem;
}



form, .others-forms{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-main, .form-main{
    width: 35%;
    height: 100%;
     display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-top: 20rem;
    color: #283618;
}



.text-main h1{
    font-size: 4rem;
    margin-bottom: 2rem;
}


.img-main{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.img-main{
    width: 55%;
    height: 100vh;
}

.img-main img{
    width: 70%;
    margin-top: 10rem;
}