*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    width: 100%;
}

body{
    height: 100vh;
    overflow-x: hidden;
    height: 100vh;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 1rem 0.5rem;
}

.logo-nav,
.links-nav,
.user{
    display: flex;
    align-items: center;
}

.logo-nav img{
    width: 5rem;
}

.links-nav ul{
    list-style: none;
    display: flex;
    gap: 2rem;
    align-items: center;
}

nav a{
    font-size: 1.5rem;
    text-decoration: none;
    color: #BC6C25;
    margin-left: 1rem;
    font-weight: bold;
}

header{
    text-align: center;
    padding: 15rem;
    background-color: antiquewhite;
    display: flex;
    gap: 10rem;
    font-size: 2rem;
}

header p{
    font-size: 1.6rem;
    margin-top: 1rem;
}

section.estatisticas{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    gap: 2rem;
    padding: 2rem;
    border-radius: 1rem;
}

.estatistica-1,
.estatistica-2,
.estatistica-3{
    background-color: #DDA15E;
    color: #FAF9F6;
    padding: 2.5rem 6rem;
    border-radius: 1rem;
    width: 20rem;
    text-align: center;
}

.livros-mais-lidos h2{
    font-size: 2.5rem;
    margin: 2rem 0;
    color: #283618;
}

footer{
    background-color: #283618;
    color: #FAF9F6;
    text-align: center;
    padding: 2rem 3rem;
    margin: 0;
}