*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #283618;
    height: 100vh;
}

.conteiner-main{
    margin-top: 3rem;
    height: 90vh;
    width: 90vw;
   border-radius: 5rem;
   background-color: #FAF9F6;
   box-shadow: 0rem 0rem 5rem rgb(75, 116, 29);
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem;
}

.links-nav-login li{
    display: inline;
}

.links-nav-login a{
    font-size: 1.3rem;
    text-decoration: none;
    color: #BC6C25;
    margin-left: 0.5rem;
    font-weight: bold;
}

.dark-mode button{
    background-color: #DDA15E;
    color: #FEFAE0;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
}

main{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 80vh;
    padding: 0 6rem;
}



form, .others-forms{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-main, .form-main{
    width: 35%;
    height: 100%;
     display: flex;
    flex-direction: column;
    justify-content: start;
    margin-top: 10rem;
    color: #283618;
}




.text-main h1{
    font-size: 5rem;
    margin-bottom: 2rem;
    font-weight: bold;
    font-family: "Lora", serif;
}

.text-main p{
    color: #606C38;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 3rem;
    margin-bottom: 4rem;
    font-family: 'Source Sans 3', sans-serif;
}


.img-main{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.img-main{
    width: 60%;
    height: 100vh;
}

.img-main img{
    width: 70%;
    margin-top: 10rem;
}

.form-main h2{
    font-size: 2.5rem;
    margin-bottom: 3rem;
    font-weight: bold;
    font-family: "Lora", serif;
    display: flex;
    justify-content: center;
    color: #283618;
}

input{
    width: 25rem;
    height: 3rem;
    margin-bottom: 2rem;
    padding: 0 1rem;
    border: 0.1rem solid #BC6C25;
    border-radius: 1.5rem;
    font-size: 1.2rem;
    font-family: 'Source Sans 3', sans-serif;
}

button{
    width: 15rem;
    height: 3.5rem;
    background-color: #BC6C25;
    color: #FAF9F6;
    border: none;
    border-radius: 1.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Source Sans 3', sans-serif;
}

.others-forms{
    margin-top: 2rem;
}

.others-forms p{
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-family: 'Source Sans 3', sans-serif;
}

.others-forms a{
    text-decoration: none;
    color: #BC6C25;
    font-weight: bold;
    font-family: 'Source Sans 3', sans-serif;
}

span > a{
    margin: 0 1rem;
    font-size: 1.2rem;
    color: #606C38;
    font-family: 'Source Sans 3', sans-serif;
    text-decoration: none;
    margin-bottom: 2rem;
}

span{
    margin-bottom: 1rem;
}

