/* Importando variáveis de cor para facilitar a manutenção */
:root {
    --cor-primaria: #F26419;         /* Laranja LibraFlow */
    --cor-primaria-hover: #DD5713;
    --cor-fundo: #f4f7f6;
    --cor-sidebar: #ffffff;
    --cor-texto: #333333;
    --cor-texto-suave: #666666;
    --cor-branco: #ffffff;
    --cor-alerta: #e91212;
    --cor-sucesso: #2ecc71;
}

html{
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    outline: 2px solid red !important;
}

body{
    background-color: var(--cor-fundo);
}

aside{
    width: 15%;
    height: 100vh;
    position: fixed;
    background-color: var(--cor-sidebar);
}

aside a{
    text-decoration: none;
    color: var(--cor-texto);
    display: block;
    padding: 15px 20px;
    font-size: 1.6rem;
    text-align: left;
    font-weight: 600;
}

.sidebar-down{
    position: absolute;
    bottom: 0;
    width: 100%;
}

main, header, nav{
    margin-left: 15%;
    padding: 20px;
}

